<div class="vl"></div>
<p>Search Users:</p>
<textarea [(ngModel)]="searchUsersTextAreaValue" cols="30" rows="1"></textarea>
<button (click)="onSearchClick()" class="button">Search</button>
<hr>
<textarea [(ngModel)]="usersResults" cols="82" rows="45" [readOnly]="true"></textarea>
<p></p>
<button class="button">Add</button>
<button class="button">Edit</button>
<button class="button">Delete</button>

<p style="position: relative; left: 630px; top: -790px;">User ID:</p>
<textarea [(ngModel)]="userIDTextAreaValue" cols="30" rows="1" style="position: relative; left: 630px; top: -790px;"></textarea>
<p style="position: relative; left: 630px; top: -790px;">Email:</p>
<textarea [(ngModel)]="emailTextAreaValue" cols="30" rows="1" style="position: relative; left: 630px; top: -790px;"></textarea>
<p style="position: relative; left: 630px; top: -790px;">Username:</p>
<textarea [(ngModel)]="usernameTextAreaValue" cols="30" rows="1" style="position: relative; left: 630px; top: -790px;"></textarea>
<p style="position: relative; left: 630px; top: -790px;">Credential number:</p>
<textarea [(ngModel)]="credentialNumberTextAreaValue" cols="30" rows="1" style="position: relative; left: 630px; top: -790px;"></textarea>
<p style="position: relative; left: 630px; top: -790px;">Phone:</p>
<textarea [(ngModel)]="phoneTextAreaValue" cols="30" rows="1" style="position: relative; left: 630px; top: -790px;"></textarea>
<p style="position: relative; left: 630px; top: -790px;">Name:</p>
<textarea [(ngModel)]="nameTextAreaValue" cols="30" rows="1" style="position: relative; left: 630px; top: -790px;"></textarea>
<p style="position: relative; left: 630px; top: -790px;">Role:</p>
<textarea [(ngModel)]="roleTextAreaValue" cols="30" rows="1" style="position: relative; left: 630px; top: -790px;"></textarea>
<!-- change role to dropdown -->
<p style="position: relative; left: 630px; top: -790px;">NFC ID:</p>
<textarea [(ngModel)]="nfcIDTextAreaValue" cols="30" rows="1" style="position: relative; left: 630px; top: -790px;"></textarea>
<p style="position: relative; left: 630px; top: -790px;">Password:</p>
<textarea [(ngModel)]="passwordTextAreaValue" cols="30" rows="1" style="position: relative; left: 630px; top: -790px;"></textarea>
<!-- created at, updated at -->




<hr>
<p></p>
<button (click)="onSaveClick()" class="button" style="position: relative; left: 630px; top: -790px;">Save</button>
<button (click)="onCancelClick()" class="button" style="position: relative; left: 630px; top: -790px;">Cancel</button>