<div class="vl"></div>
<p>Search Facilities:</p>
<textarea name="searchFacilities" id="searchFacilities" cols="30" rows="1"></textarea>
<button class="button">Search</button>
<hr>
<textarea name="facilitiesResults" id="facilitiesResults" cols="82" rows="45" [readOnly]="true"></textarea>
<p></p>
<button class="button">Add</button>
<button class="button">Edit</button>
<button class="button">Delete</button>

<p style="position: relative; left: 630px; top: -790px;">Search Access Points:</p>
<textarea name="searchAccessPoints" id="searchAccessPoints" cols="30" rows="1" style="position: relative; left: 630px; top: -790px;"></textarea>
<button class="button" style="position: relative; left: 630px; top: -790px;">Search</button>
<hr>
<textarea name="accessPointsResults" id="accessPointsResults" cols="82" rows="45" [readOnly]="true" style="position: relative; left: 630px; top: -790px;"></textarea>
<p></p>
<button class="button" style="position: relative; left: 630px; top: -790px;">Add</button>
<button class="button" style="position: relative; left: 630px; top: -790px;">Edit</button>
<button class="button" style="position: relative; left: 630px; top: -790px;">Delete</button>
